header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: $color-white-0;
	padding-bottom: 20px;
	.container-fluid {
		margin: 0;
		padding: 0;
		.freeShip {
			width: 100%;
			background-color: $color-blue-0;
			margin-bottom: 20px;

			marquee {
				padding: 5px 0;
			}
		}

		nav {
			.nav-left {
				width: 50%;
				display: flex;
				align-items: center;

				img {
					max-width: 400px;
					height: 45px;
					padding-right: 20px;
				}

				.nav-shop {
					ul {
						list-style-type: none;

						li {
							display: inline-block;
							position: relative;
							transition: all .2s;
							.dropdown-content{
								display: none;
								position: absolute;
								left: 0;
								background-color: $color-white-0;
								min-width: 150px;
								a{
									display: block;
									padding: 15px 30px;
								}
							}
							a {
								color: $color-black-0;
								padding: 15px 10px;
								font-size: 14px;

								svg {
									display: inline-block;
									font-size: 10px;
								}
							}
							&:hover .dropdown-content{
								display: block;
							}
						}
					}
				}
			}

			.nav-right {
				width: 50%;

				ul {
					float: right;
					list-style-type: none;

					li {
						display: inline-block;

						a {
							color: $color-black-0;
							padding: 15px 10px;
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}